<div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="70">
            <br>
            <br>
            <br>
            <br>
            <br>
            <mat-card style="border-radius: 2%; background-color: #E36526; 
            font-family: Gochi Hand; color: white;">
                <mat-card-title style="font-size: 35px;">
                    Soulpet
                </mat-card-title>
                <mat-card-subtitle style="font-size: 20px;">
                    "Solusi Nyata Pengganti Soulmate"
                </mat-card-subtitle>
                <mat-card-content style="font-size: 25px;">
                    Soulpet merupakan aplikasi berbasis web yang menawarkan fitur untuk mencari hewan peliharaan
                    sesuai dengan kondisi calon pemiliki.
                </mat-card-content>
            </mat-card>
        </div>
</div>