<div fxLayout="row" fxLayoutAlign="center center" *ngIf="pet === null && welcome">
    <div fxFlex="100">
        <div fxLayout="row">
            <div fxFlex="20">
                <div fxLayout="column" fxLayoutAlign="center center" style="padding-top: 160px;">
                    <div class="text" *ngIf="!none">
                        Selesai!
                    </div>
                    <div class="text" *ngIf="!temukan">
                        Drop {{scope}} to the circle!
                    </div>
                    <div class="card-block scroll-list">
                        <div class="list-group">
                            <li id="table" class="list-group-item list-group-item-action list-group-item-success" 
                             [draggable] *ngFor="let item of parameter" [dragClass]="'active'"
                                [dragData]="item" [dragScope]="item.type" [dragEnabled]="true">
                                {{item.name}}
                            </li>
                        </div>
                    </div>
                </div>
            </div>

            <div fxFlex="80">
                <div fxLayout="row" fxLayoutAlign="center center" style="height: 500px;">
                    <div class="big-circle">
                        <div fxLayout="row" fxLayoutAlign="center center" style="height: 500px;">
                            <div class="center-circle" lass="card card-outline-primary mb-3" droppable [dragOverClass]="'drag-target-border-green'" [dropScope]="scope"
                                [dragHintClass]="'drag-hint'" (onDrop)="onParameterDrop($event)">
                                
                                <div fxLayout="row" fxLayoutAlign="center center" style="height: 500px;">
                                    <div class="card-block scroll-list">
                                                  <h4 class="blink_me text" style="font-size: 40px;color: white;">Drop here!</h4>
                                           <li *ngFor="let item of droppedParameter" class="list-group-item">{{item.name}} hehe</li>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div>
                        <button mat-raised-button color="accent" (click)="generatePet()">
                            <mat-icon>search</mat-icon>Temukan Petmu!!</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="!welcome">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="70">
            <br>
            <br>
            <br>
            <br>
            <br>
            <mat-card style="border-radius: 2%; background-color: #E36526; 
                    font-family: Gochi Hand; color: white;">
                <mat-card-title style="font-size: 35px;">
                    Soulpet
                </mat-card-title>
                <mat-card-subtitle style="font-size: 20px;">
                    "Solusi Nyata Pengganti Soulmate"
                </mat-card-subtitle>
                <mat-card-content style="font-size: 25px;">
                    Soulpet merupakan aplikasi berbasis web yang menawarkan fitur untuk mencari hewan peliharaan sesuai dengan kondisi calon
                    pemiliki.
                </mat-card-content>
            </mat-card>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="accent" (click)="openDialog()">
                    <mat-icon>search</mat-icon>Mulai!</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="pet">
    <div fxLayout="column" class="text" fxLayoutAlign="center center">
        <div>

        <img  style="
        background-size:100%;
        height:200px;
        width:200px;" src="{{urlGambar}}" />

        </div>
        <br>
        <p>Soulpet kamu adalah
            <strong class="blink_me">{{pet}}</strong>
        </p>
        <p>yang bernama
            <strong class="blink_me">{{namaPet}}</strong>
        </p>
        <p> dan kamu dapat membeli soulpetmu di sini:</p>
        <button mat-raised-button color="primary" (click)="cariMaps()">
            <mat-icon>search</mat-icon>Cari Petmu!!
        </button>
    </div>
</div>
<br>
<div *ngIf="petMaps">
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDU1aTue-7O2hvT9LktuEgrPc1RiFHEbvE&q=pet"
        allowfullscreen>
    </iframe>
</div>